<div class="p-6 flex flex-col items-center flex-wrap">
    <section hlmCard class="w-full max-w-full">
        <div hlmCardHeader>
            <h3 hlmCardTitle>Tickets</h3>
            <p hlmCardDescription>from Jira</p>
        </div>
        <p hlmCardContent>
            <hlm-table class="border rounded-xl block overflow-hidden">
                <hlm-trow>
                    <hlm-th class="w-[25%]">Title</hlm-th>
                    <hlm-th class="w-[20%]">Description</hlm-th>
                    <hlm-th class="w-[5%]">Level</hlm-th>
                    <hlm-th class="w-[15%]">Created</hlm-th>
                    <hlm-th class="w-[15%]">User</hlm-th>
                    <hlm-th class="w-[10%]">Status</hlm-th>
                    <hlm-th class="w-[10%]"></hlm-th>
                </hlm-trow>
                @for (ticket of paginatedTickets; track ticket.ticketId) {
                <hlm-trow>
                    <hlm-td class="w-[25%]">{{ ticket.title }}</hlm-td>
                    @if (ticket.description.length > 40) {
                        <hlm-td class="w-[20%]">
                            <hlm-tooltip>
                                <span hlmTooltipTrigger>
                                    {{ ticket.description.substring(0,60) }}...
                                </span>
                                <span *brnTooltipContent class="flex items-center max-w-lg">
                                    {{ ticket.description }}
                                </span>
                            </hlm-tooltip>
                        </hlm-td>
                    } @else {
                        <hlm-td class="w-[20%]">{{ ticket.description }}</hlm-td>
                    }
                    <hlm-td class="w-[5%] gap-[2px]">
                        {{ ticket.level }} 
                        @if (ticket.level_explanation) {
                            <hlm-tooltip>
                                <span hlmTooltipTrigger>
                                    ⓘ
                                </span>
                                <span *brnTooltipContent class="flex items-center max-w-lg">
                                    {{ ticket.level_explanation }}
                                </span>
                            </hlm-tooltip>
                        }
                    </hlm-td>
                    <hlm-td class="w-[15%]">{{ ticket.created }}</hlm-td>
                    <hlm-td class="w-[15%]">
                        @if (loggedInUser?.role === 'developer') {
                            {{ ticket.user.name }}
                        } @else {
                            <brn-select placeholder="Choose user" [(ngModel)]="selectedUser"
                                (ngModelChange)="assignTicket(ticket._id)">
                                <hlm-select-trigger>
                                    @if (ticket.user.name !== null) {
                                        {{ ticket.user.name }}
                                    } @else if (selectedUser !== null) {
                                        {{ selectedUser.name }}
                                    } @else {
                                        Choose user
                                    }
                                </hlm-select-trigger>
                                <hlm-select-content>
                                    @for (user of users; track user.name) {
                                        <hlm-option [value]="user">{{ user.name }}</hlm-option>
                                    } @empty {
                                        @if (loadingUsers) {
                                            <hlm-spinner class="text-blue-800" />
                                        } @else {
                                            <hlm-option [disabled]="true">No users found</hlm-option>
                                        }
                                    }
                                </hlm-select-content>
                            </brn-select>
                        }
                    </hlm-td>
                    <hlm-td class="w-[10%]">
                        {{ ticket.status }}
                    </hlm-td>
                    <hlm-td class="w-[10%] flex-col justify-center items-center">
                        @if (ticket.status !== 'Done') {
                            <button hlmBtn size="icon" variant="ghost" class="text-blue-800 hover:text-blue-800 flex flex-col gap-1 py-2 h-max" (click)="finishTicket(ticket._id)">
                                <hlm-icon name="lucideCheck"></hlm-icon>
                            </button>
                        }
                        @if (ticket.status === 'Done' && loggedInUser?.role === 'manager' && !ticket.reward) {
                            <button hlmBtn size="icon" variant="ghost" class="text-blue-800 hover:text-blue-800 flex flex-col gap-1 py-2 h-max" (click)="openRewardModal(ticket._id, ticket.user.name)">
                                <hlm-icon name="lucideStar"></hlm-icon>
                            </button>
                        } @else if (ticket.reward) {
                            <div>
                                @for (icon of [].constructor(ticket.reward); track $index) {
                                    <hlm-icon name="lucideStar" class="filled"></hlm-icon>
                                }
                            </div>
                        }
                    </hlm-td>
                </hlm-trow>
                } @empty {
                    @if (loadingTickets) {
                        <hlm-trow class="flex justify-center py-12">
                            <hlm-spinner class="[&>svg]:text-blue-800" />
                        </hlm-trow>
                    } @else {
                        <hlm-trow>
                            <hlm-td class="text-center" colspan="6">No tickets found</hlm-td>
                        </hlm-trow>
                    }
                }
            </hlm-table>
        </p>
        @if (tickets.length > 0) {
            <div hlmCardFooter class="flex justify-between">
                <brn-select placeholder="5" [(ngModel)]="ticketsPerPage" (ngModelChange)="updatePagination()">
                    <hlm-select-trigger>
                        <hlm-select-value />
                    </hlm-select-trigger>
                    <hlm-select-content>
                        <hlm-option [value]="5">5</hlm-option>
                        <hlm-option [value]="10">10</hlm-option>
                        <hlm-option [value]="20">20</hlm-option>
                        <hlm-option [value]="tickets.length">All</hlm-option>
                    </hlm-select-content>
                </brn-select>
                <div class="flex gap-1 items-center">
                    <button hlmBtn size="icon" variant="outline" (click)="previousPage()" [disabled]="currentPage === 1">
                        <hlm-icon size='sm' name="lucideChevronLeft" />
                    </button>
                    <span>Page {{ currentPage }} of {{ totalPages }}</span>
                    <button hlmBtn size="icon" variant="outline" (click)="nextPage()"
                        [disabled]="currentPage === totalPages">
                        <hlm-icon size='sm' name="lucideChevronRight" />
                    </button>
                </div>
            </div>
        }
    </section>
</div>