<div class="flex flex-col items-center">
    <h1 hlmH1 class="!my-4 text-blue-800">CodeQuest 2024</h1>
    <div class="flex w-full justify-center bg-[#56b5f7] items-center">
        <div class="flex flex-col w-1/2 items-end text-left text-neutral-100">
            <div class="flex flex-col w-[450px] text-neutral-100">
                <h2 hlmH3 class="font-extrabold mb-8">A project which measures your Jira tasks' skill level and rewards
                    your effort</h2>
                <h4 hlmLarge class="mb-2">
                    Featuring:
                </h4>
                <ul class="mb-4">
                    <li>AI based Task hardness measuring</li>
                    <li>Developer XP bars</li>
                    <li>Rewarding & Lvl ups</li>
                    <li>Fancy design</li>
                </ul>
                <button hlmBtn class="w-fit bg-blue-800" routerLink="/auth">Interested?</button>
            </div>
        </div>
        <div class="flex flex-col w-1/2 pl-16">
            <img src="assets/img/hero.png" alt="Hero Image" style="max-width: 400px; max-height: 400px;">
        </div>
    </div>
    <div class="flex w-full flex-col items-center justify-center py-32">
        <h2 hlmH2 class="border-0 text-slate-700 m-0">How it works?</h2>
        <div class="flex gap-16 px-6 mt-16">
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <hlm-icon size="xl" name="lucideFileClock" class="text-slate-700 w-24 h-24" />
                <h4 hlmLarge>
                    Task hardness is measured
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <hlm-icon size="xl" name="lucideBatteryMedium" class="text-slate-700 w-24 h-24" />
                <h4 hlmLarge>
                    Developer checks skill level
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <hlm-icon size="xl" name="lucideUserCheck2" class="text-slate-700 w-24 h-24" />
                <h4 hlmLarge>
                    Developer accepts the task
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <hlm-icon size="xl" name="lucideTrophy" class="text-slate-700 w-24 h-24" />
                <h4 hlmLarge>
                    Developer is rewarded with XP
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <hlm-icon size="xl" name="lucideGift" class="text-slate-700 w-24 h-24" />
                <h4 hlmLarge>
                    Rewards can be redeemed upon lvl up
                </h4>
            </div>
        </div>
    </div>
    <div class="flex w-full flex-col items-center justify-center py-16 bg-[#56b5f7] text-neutral-100">
        <h2 hlmH2 class="border-0">Technologies used:</h2>
        <div class="flex gap-16 px-6 mt-16 h-36">
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <div class="flex justify-center items-center h-28 w-28 rounded-2xl">
                    <img src="assets/logos/Jira.png" style="max-width: 96px; max-height: 96px;" />
                </div>
                <h4 hlmLarge>
                    Jira Api
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <div class="flex justify-center items-center h-28 w-28 rounded-2xl">
                    <img src="assets/logos/nvidia.png" style="max-width: 96px; max-height: 96px;" />
                </div>
                <h4 hlmLarge>
                    Nvidia AI
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <div class="flex justify-center items-center h-28 w-28 rounded-2xl">
                    <img src="assets/logos/NestJS.svg" style="max-width: 96px; max-height: 96px;" />
                </div>
                <h4 hlmLarge>
                    NestJs
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <div class="flex justify-center items-center h-28 w-28 rounded-2xl">
                    <img src="assets/logos/Angular.png" style="max-width: 96px; max-height: 96px;" />
                </div>
                <h4 hlmLarge>
                    Angular
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <div class="flex justify-center items-center h-28 w-28 rounded-2xl">
                    <img src="assets/logos/Spartan.svg" style="max-width: 96px; max-height: 96px;" />
                </div>
                <h4 hlmLarge>
                    Spartan/ui
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <div class="flex justify-center items-center h-28 w-28 rounded-2xl">
                    <img src="assets/logos/TailwindCSS.png" style="max-width: 96px; max-height: 96px;" />
                </div>
                <h4 hlmLarge>
                    TailwindCSS
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <div class="flex justify-center items-center h-28 w-28 rounded-2xl">
                    <img src="assets/logos/herocu.png" style="max-width: 96px; max-height: 96px;" />
                </div>
                <h4 hlmLarge>
                    Heroku
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <div class="flex justify-center items-center h-28 w-28 rounded-2xl">
                    <img src="assets/logos/github.png" style="max-width: 96px; max-height: 96px;" />
                </div>
                <h4 hlmLarge>
                    Github Pages
                </h4>
            </div>
            <div class="flex flex-col w-32 h-full items-center text-center justify-between gap-2">
                <div class="flex justify-center items-center h-28 w-28 rounded-2xl">
                    <img src="assets/logos/mongo.png" style="max-width: 96px; max-height: 96px;" />
                </div>
                <h4 hlmLarge>
                    Mongo DB
                </h4>
            </div>
        </div>
    </div>
</div>